body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

button:focus {
  outline: none;
}

#root {
  transform: scale(3);
}
