@use 'variables' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  flex-shrink: 1;
  flex-direction: column;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
}

.name {
  color: $primary_color;
}

.position {
  color: gray;
  margin-bottom: 1rem;
}

.photo {
  border-radius: 100%;
}

.btn-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-around;
  gap: 1em;
}

.panel {
  margin: auto;
  width: 50%;
}

.edit-btn {
  color: $primary_color;
  cursor: pointer;
}

.delete-btn {
  color: hsl(0, 95%, 50%);
  cursor: pointer;
}

.submit-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: $borderRadius;
  margin: 0.5em 0;
  padding: 0.5em;
  color: $textWhite;
  background-color: $primary_color;
  font-weight: bold;
  font-size: large;
}
