@use 'variables' as *;

.app {
  header {
    display: flex;
    align-items: center;
    background: $primary_color;
    width: 100%;
    height: 64px;
    margin-bottom: 2rem;

    h1 {
      color: $white_color;
      margin: 0 2rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      color: $white_color;

      li,
      a {
        color: $white_color;
        list-style: none;
        padding: 1em;
        text-transform: uppercase;
        transition: $transitionSlow;

        a:hover,
        a:hover {
          cursor: pointer;
          background-color: white;
          border-radius: $borderRadius;
          color: $primary_color;
        }
      }
    }
  }
}
