@import '../colors.scss';

.app {
  header {
    display: flex;
    align-items: center;
    background: $primary_color;
    width: 100%;
    height: 64px;
    margin-bottom: 2rem;

    > h1 {
      color: $white_color;
      margin: 0 2rem;
    }
  }
}
