.container {
  margin: 2rem;
}

.searchBar {
  input {
    border: none;
    padding: 1em;
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}

.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.actionButtons {
  display: flex;
  margin: 2em 0;

  >* {
    margin-left: 1em;
  }
}
